@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Простой пример экспорта таблицы</h3>
    <a href="/HtmlExport/ExportTable1"><p>Перейти на страницу Html Export</p></a>
</div>
