
@{
    ViewData["Title"] = "Html export";
}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Html export</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
            <li><a href="/HtmlExport/ExportTable1">Пример 1</a> - Экспорт таблицы с темами и встроенными стилями</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Также смотрите примеры на <a href="https://github.com/EPPlusSoftware/EPPlus/wiki/HTML-Export" target="blank">wiki</a></p>
    </div>
</div>